:root{
	--fonte-principal: Inter;
	--cor-vinho: #8E2424;
	--branco: #FFFFFF;
	--text-color: #667085;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
	width: 100%;
	height: 100vh;
}

.nav__bar{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--fonte-principal);
	column-gap: 8em;
}

.link__nav ul, a{
	display: flex;
	list-style: none;
	text-decoration: none;
	column-gap: 1.5em;
}

.link__nav{
	margin-right: 18em;
	font-size: 16px;
}

.button__nav, button{
	display: flex;
	column-gap: 0.5em;
	font-family: var(--fonte-principal);
	border: none;
	border-radius: 7px;
	cursor: pointer;
	padding: 0.5em 1em 0.5em 1em;
}

.bnb_1{
	background-color: var(--branco);
	margin-left: 1em;
	
}

.bnb_2{
	background-color: var(--cor-vinho);
	color: white;	
}

/*  ------------------------- */     

.primeira__secao{
	text-align: center;
	margin-top: 5em;
	width: 50vw;
	font-family: var(--fonte-principal);
	margin-left: 24vw;
	display: grid;
	row-gap: 1.5em;
}

.primeira__secao span{
	color: var(--cor-vinho);
	font-size: 12px;
	font-weight: bolder;
}

.primeira__secao h2{
	font-size: 40px;
}

.primeira__secao p{
	color: var(--text-color);
	font-size: 17px;

}

.segunda__secao{
	display: flex;
	margin-top: 5em;
	width: 100%;
	justify-content: center;
	column-gap: 3em;
}

.segunda__secao div{
	display: grid;
	width: 20%;
	row-gap: 0.3em;
}

.segunda__secao h1{
	color: var(--cor-vinho);
	font-size: 50px;
	font-weight: bolder;
}

.segunda__secao span{
	font-weight: 600;
}

.segunda__secao p{
	color: var(--text-color);
	font-size: 16px;
}

.terceira__secao{
	display: grid;
	justify-content: center;
	text-align: center;
	row-gap: 1em;
	margin-top: 10em;
}

.bloco__ter{
	display: grid;
	row-gap: 1em;
}

.bloco__ter h4{
	display: grid;
	text-align: center;
}

.terceira__secao p{
	color: var(--text-color);
	font-size: 16px;
	margin-bottom: 3em;
}

.terceira__secao h4{
	background-color: mistyrose;
	color: var(--cor-vinho);
	border-radius: 10px;
	width: 10vw;
}

.quarta__secao{
	display: grid;
	width: 100vw;
	row-gap: 2.5em;
	margin-top: 2.5em;
	justify-content: center;
}

.quarta__secao span{
	font-weight: bolder;
}

.bloco__prin{
	display: grid;
	row-gap: 1.3em;
	margin: 1em 0 0.5em 0;
}

.bloco__ts{
	background-color: var(--branco);
	border: #EAECF0 solid 1px;
	border-radius: 10px;
	width: 100%;
	display: grid;
	padding: 1.5em 0 0 1.5em;
}

.bloco__inf{
	width: 60em;
	height: 5em;
	display: inline-flex;
	column-gap: 1em;
	align-items: center;
}

.bloco__inf span{
	color: var(--text-color);
	font-weight: normal;
}

